#wpadminbar,
#adminmenu li.menu-top:hover > a,
#adminmenu li.menu-top.focused > a,
#adminmenu li.menu-top > a:focus,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus,
#adminmenu li.wp-active-submenu > a,
.postbox .hndle,
div.sidebar-name,
strong .post-com-count span,
.wptutsbd-table-left a.active,
.wptutsbd-table-left a:hover,
.button-title-link div.add-buttons-title,
div#add_fields div#floatMenu ul#sidebarmenu1.menu li.add_field_button_container ul li.add-buttons ol.field_type li input.button,
.catalyst-core-options-wrap h3, .catalyst-dynamik-options-wrap h3, .catalyst-advanced-options-wrap h3, .catalyst-uploader-inner-1col h3, #catalyst-custom-css-builder h3,
.catalyst-font-option-desc,
.catalyst-bg-option-desc,
.catalyst-border-option-desc,
.catalyst-dynamik-option-desc,
.catalyst-custom-fonts-button,
.catalyst-optionbox-inner-2col h4 {
	background: #2DB3E9  !important
}
strong .post-com-count {
	background-position: center -128px
}
strong .post-com-count:hover {
	background-position: center -55px
}
.post-com-count:hover span {
	background-color: #2583AD;
}

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
#wpadminbar .quicklinks .menupop .ab-item:focus,
#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus,
div#add_fields div#floatMenu ul#sidebarmenu1.menu li.add_field_button_container ul li.add-buttons ol.field_type li input.button:hover {
	background: #19627F !important
}
#adminmenu li.menu-top:hover > a,
#adminmenu li.menu-top.focused > a,
#adminmenu li.menu-top > a:focus,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus,
#adminmenu li.wp-active-submenu > a,
.postbox .hndle,
div.sidebar-name {
	border-color: #19627F
}

a:hover,
a:focus,
#the-comment-list p.comment-author strong a:hover,
#media-upload a.del-link:hover,
#media-items a.delete:hover,
#media-items a.delete-permanently:hover,
.plugins a.delete:hover,
.ui-tabs-nav a:hover,
#the-comment-list .comment a:hover,
#rightnow a:hover,
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover,
.ui-tabs-nav a:hover,
.plugins .inactive a:hover,
#all-plugins-table .plugins .inactive a:hover,
#search-plugins-table .plugins .inactive a:hover {
	color: #2DB3E9
}

/* Login */
.wp-core-ui .button-primary {
	background: #2DB3E9;
	border: 1px solid #C28E03;
}
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary:active,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:focus {
	background: #FDCE53;
	border-color: #C28E03
}
/* button */
button.media-button.button-primary,
.wp-core-ui .button-primary,
a.button-primary.welcome-button,
input[type="submit"],
input[type="submit"].button-primary,
#side-sortables #mp-single-statuses span a,
input.button-primary,
button.button-primary,
input.button.button-primary,
a.button-primary,
.show-hide-custom-css-builder-styles {
	border-color: #DD6F00 !important;
	background-color: #56AF45 !important;
}
button.media-button.button-primary:hover,
button.media-button.button-primary:focus,
button.media-button.button-primary:active,
button.media-button.button-primary.active,
button.media-button.button-primary.disabled,
button.media-button.button-primary[disabled],
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:active,
.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary[disabled],
a.button-primary.welcome-button:hover,
a.button-primary.welcome-button:focus,
a.button-primary.welcome-button:active,
a.button-primary.welcome-button.active,
a.button-primary.welcome-button.disabled,
a.button-primary.welcome-button[disabled],
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="submit"].active,
input[type="submit"].disabled,
input[type="submit"][disabled],
input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="submit"].button-primary:active,
input[type="submit"].button-primary.active,
input[type="submit"].button-primary.disabled,
input[type="submit"].button-primary[disabled],
#side-sortables #mp-single-statuses span a:hover,
#side-sortables #mp-single-statuses span a:focus,
#side-sortables #mp-single-statuses span a:active,
#side-sortables #mp-single-statuses span a.active,
#side-sortables #mp-single-statuses span a.disabled,
#side-sortables #mp-single-statuses span a[disabled],
input.button-primary:hover,
input.button-primary:focus,
input.button-primary:active,
input.button-primary.active,
input.button-primary.disabled,
input.button-primary[disabled],
button.button-primary:hover,
button.button-primary:focus,
button.button-primary:active,
button.button-primary.active,
button.button-primary.disabled,
button.button-primary[disabled],
input.button.button-primary:hover,
input.button.button-primary:focus,
input.button.button-primary:active,
input.button.button-primary.active,
input.button.button-primary.disabled,
input.button.button-primary[disabled],
a.button-primary:hover,
a.button-primary:focus,
a.button-primary:active,
a.button-primary.active,
a.button-primary.disabled,
a.button-primary[disabled],
.show-hide-custom-css-builder-styles:hover {
	border-color: #DD6F00  !important;
	background-color: #469139 !important;
}
/* form */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(23,140,50,0.8)  !important;
}
#poststuff .button.insert-media, #edit-slug-box .button {
background: #FF7200;
}